.auth{
    background: linear-gradient(rgba(116, 112, 112, 0.466),rgba(99, 97, 97, 0.856)), url('/assets/images/auth-cover.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    margin: 0;
    z-index: 10;
    padding: 30px;
    
}
.row{
    margin: 0;
}
form{
   background-color: rgba(15, 15, 15, 0.247);
   color:rgb(56, 53, 53);
   z-index: 100;
   font-size: 15px;
   padding: 15px;
}
label,
input,
button{
    margin: 10px 0;
    padding: 10px;
}
input{
padding: 20px;
}
h1{
    color: rgb(49, 47, 47);
    font-size: 2.5em;
    font-weight: bold;
}
p{
    color: rgb(49, 47, 47);
    font-weight: bold;
    font-size: 1.2em;

}
.text-box{
    text-align: center;
    margin-bottom: 25px;
}