<section class="shopping-list ">
<div class="row" >
    <div class="col-xs-10 box">
        <h1>Shopping List</h1>
        <p>Selecting groceries ahead of time helps some shoppers make healthier choices 🌱</p>
        <app-shopping-edit ></app-shopping-edit>
        <hr>
        <ul class="list-group">
            <a
            class="list-group-item item"
             style="cursor: pointer;" 
             *ngFor=" let ingredient of ingredients; let i = index"
             (click) = "onEditItem(i)">
             {{ingredient.name}} {{ingredient.amount}}
            </a>
        </ul>
    </div>
</div>
</section>